* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html {
    width: 100%;
    height: 100vh;
}



header {
display: flex; /*Resposável por colocar os itens na mesma linha (lado a lado)*/
align-items: center; /*Alinhar itens do nosso header para o centro*/
justify-content: space-evenly; /*Justificando conteúdo*/
padding: 2%; /*Cuida do preenchimento*/
background-color: rgb(56, 49, 49); /*Cor de fundo do nosso cabeçalho*/
overflow: hidden; /**/
}

header h1{ /*Selecionamos aqui a cor da letra do nosso H1 ou seja, do nosso título*/
color: white; /*Chamamos a propriedade color e definimos uma cor em questão*/
font-size: 45px; /*Tamanho da letra*/

}

header img{ /*Aqui estamos chamando nossa imagem para ser atribuídas a alterações*/
    width: 11rem; /*Largura da nossa imagem*/
    height: auto; /*Tamanho da nossa imagem no tamanho automatíco*/
}

.item-menu-header{ /*Nossas LI que estão dentro do list menu, onde se encontram os nomes dos itens apresentados no HEADER*/
    margin-right: 25px; /*margem da direita*/
}

.item-menu-header a:hover{ /*Nossas LI que estão dentro do list menu. 
    (a) nossa tag de link que é representada por: HOME/PRODUTOS/CONTATO, e o Hover responsável pela modificação de cor ao passar o cursor em cima*/    
    color: yellow; /*Aqui atribuimos uma cor*/
    transition: 1s; /*E o tempo em que será exibido ao passar o cursor*/
}

.item-menu-header a{/*Nossas LI que estão dentro do list menu. (a) nossa tag de link que é representada por: HOME/PRODUTOS/CONTATO*/
    color: white; /*Cor das letras*/
    text-decoration: none; /*Tirando o sub-linhado*/
    font-size: 0.8em; /*Tamanho da letra*/
}


.navbar{ /**/
    color: white; /*Cor do texto*/
    display: flex;/*Flexíveis*/
    justify-content: space-between; /*A distribuição dos itens sejam com Space-Between */
    align-items: center; /*Alinhamento da vertical*/
    padding:  10px 20px; /*Preenchimento superior/inferior e esquerda/direita*/
    height: 2.6rem; /*Altura do navbar*/
}

.nav-liks{ /*Aqui estamos estilizando a UL (lista não ordenada)*/
list-style: none; /*Retirando o estilo da lista*/
margin: 0; /*Zerando os espaços de margem que são habilitados por padrão*/
padding: 0; /*Zerando os preenchimentos que são habilitados por padrão*/
display: flex; /*Tornando a caixa flexível, lado a lado*/
}

.nav-liks li{ /*Estilizando a LI que está dentro da UL*/
    padding: 0 9px; /*preenchimento da LI superior/inferior 0 e laterais em 9px*/
}

.nav-liks a,
.nav-liks-mobile a{ /*Estamos chamando as duas Âncoras para estilização, tanto da versão desktop quanto da versão mobile*/
    color: white; /*Cor da letra */
    text-decoration: none; /*Tirando o sublinhado*/

}

.mobile-menu{ /*Estilização da caixa mobile quando aberta*/
    display: none; /*Display: nenhum*/
    position: fixed; /*Posição fixa na parte direita da página*/
    top: 0; /*Superior em 0 fazendo a caixa encostar no topo*/
    right: 0; /*Direita em 0 fazendo a caixa encostar a direita*/
    width: 60%; /*Largura em porcentagem da caixa*/
    background-color: rgb(0,0,0); /*Cor de fundo*/
    flex-direction: column; /*Direção dos itens dentro da caixa*/
    align-items: center; /*Alinhamento na vertical do itens*/
    font-size: 1.8rem; /*Tamanho da letra dentro da caixa*/
}

.nav-links-mobile{ /*Lista não ordenada da versão mobile*/
display: flex; /*Tornando os itens (LISTAS) flexíveis*/
flex-direction: column; /*Estamos direcionando o posicionamento dessas listas*/
text-align: center; /*Alinhando o texto ao centro*/
gap: 1.2rem; /*Espaço entre as linhas*/
list-style: none; /*Estilo de lista desabilitado*/
/*padding: 0; Preenchimento zerado, podendo também ser retiradp para testes*/
}

.nav-links-mobile li{/*Listas da versão Mobile*/
    border-bottom: 1px solid #787272; /*Bordar inferior de cada lista*/
    padding-bottom: 1.2rem; /*Tamanho da borda*/
}